<p id="notice"><%= notice %></p>

<%= data_br(Date.today) %>

 

<h1>Moedas</h1>


<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>sigla</th>
      <th>image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each  do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td> <img src="<%= coin.url_image %>" wi
        dth="25px" height="25px" /> </td>
        <td><%= link_to 'Mostrar', coin %></td>
        <td><%= link_to 'Editar', edit_coin_path(coin) %></td>
        <td><%= link_to 'Apagar', coin, method: :delete, data: { confirm: 'tem certeza ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova moeda', new_coin_path %>
